[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
langchain-gigachat = "*"
python-telegram-bot = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-admin = "*"
wtforms-appengine = "*"
WTForms="3.0.1"

[dev-packages]

[requires]
python_version = "3.12"
